.rewtitle {
    float: left;
}
.addreview {
    float: right;
    margin-top: 15px;
}
.addreview a {
    background: #f6a408;
    padding: 10px 40px;
    text-decoration: none;
}
.addreview a span {
    color: #fff;
}
.nameuser {
    font-size: 16px;
    font-weight: 600;
}
.namedate {
    float: left;
    margin-bottom: 0;
    max-width: 175px;
}

.comments {
    background: #f3f3f3;
    padding: 20px;
    position: relative;
    margin-left: 230px;
    margin-bottom: 30px;
}
.maincomments > .comments::before {
    content: '';
    position: absolute;
   /* background: #f3f3f3;
    left: -9px;
    width: 20px;
    height: 20px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 3px;*/
    top: -1px;
    border-top: 15px solid transparent;
    border-right: 15px solid #f3f3f3;
    border-bottom: 10px solid transparent;
    left: -15px;
}
.revlimiter {
    float: left;
    margin-left: 100px;
}
.revlimiter #limiter {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    background: #fff url('../images/select-bg.jpg') no-repeat 100% 40%;
    background-color: rgb(255, 255, 255);
    background-size: 22px 33px;
    width: 50px;
    height: 25px;
    padding: 1px 6px 2px;
    margin: 5px 0px 0px 5px;
}
.pages {
    float: right;
    margin-bottom: 0!important;
}
.pager {
    border-top: 1px solid #cccccc;
    padding: 12px 0 12px;
    border-bottom: 1px solid #cccccc;
}
.pages strong.page {
    background: transparent;
    line-height: 23px;
    padding: 0px 7px 0px 7px;
    border: 1px solid #ccc;
}
.pages a.page,.pages a.page:visited,.pages a.page:active {
    color: #000;
}
.pages .action.next,.pages .action.previous{
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background: transparent;
    border: none;
}
.pages .action.next::before {
    content: '';
    border-top: 5px solid transparent;
    border-left: 5px solid red;
    border-bottom: 5px solid transparent;
    display: block;
}
.pages .action.previous::before {
    content: '';
    border-top: 5px solid transparent;
    border-right: 5px solid red;
    border-bottom: 5px solid transparent;
    display: block;
}
span.toolbar-number {
    padding-left: 10px;
}
.maincomments {
    display: inline-block;
    width: 100%;
}
.modal-popup .modal-inner-wrap {
    width: 40%;
}
.modal-footer {
    display: none;
}