
<?php
$productCollection = $block->getProductCollection();
?>
<div id="owlslider" class="products wrapper grid products-grid">
<ul class="products list items product-items">
<?php
$iterator=1;
foreach ($productCollection as $product) { ?>
    <?= ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
    <?php
    $productImage = $block->getImage($product, 'category_page_grid');?>
    <a href="<?= $product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
    <?php
        echo $productImage->toHtml();
    ?>
      <p><?=$product->getName() ?></p>
    </a>
    <?= ($iterator == count($productCollection)+1) ? '</li>' : '' ?>
<?php

}
?>
</ul>
</div>
<!--
<script type="text/x-magento-init">
  {
   "*":
       {
       "js/slick": {}
       }
   }
</script>
<script>
    require([
        'jquery',
        'js/slick'
    ], function ($) {
        jQuery(document).ready(function () {
            jQuery(".product-items").slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    });
</script>
-->