
<div class="maincomments">
    <?php
    if (count($block->getRevCollection()) == 0):?>
        <div>No comments found, you has been first !</div>
    <?php else: ?>
    <table>
    <?php
        foreach ($block->getRevCollection() as $rew): ?>
        <tr>
        <td class="comments">
            <?= $rew->getId(); ?>
        </td>
            <td class="comments">
                <?= $rew->getTitle(); ?>
            </td>
            <td class="comments">
                <?= $rew->getComment(); ?>
            </td>
            <td class="comments">
                <a href="<?= $block->getReviewLink($rew->getId()) ?>" class="action more">
                    <span><?= $block->escapeHtml(__('Delete rew')) ?></span>
                </a>
            </td>
        </tr>
      <?php endforeach; ?>
    <?php endif; ?>
    </table>
</div>
<?php echo $block->getPagerHtml();
